.Navbar {
  width: 100%;
  min-height: 50px;
  padding: 0 2rem;
  background: #abd8cb;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 2px -2px gray;
  position: relative;
  z-index: 100000;

  .branding {
    display: flex;
    align-items: center;

    .title {
      font-size: 1.75rem;
      margin-left: 1rem;
    }
  }

  .signature {
    font-size: 0.75rem;
    margin-right: 3rem;
  }
}